@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

*{box-sizing: border-box; margin: 0; padding: 0; outline: none}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('/../../img/background/rainy/rainy0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

  .flex {
      display: flex;
  };

  li {
    list-style: none;
  }



  
.section-text {
  background-color: #e5e5e5;
  position: relative;
  overflow: hidden;
  max-height: 400px;
  transition: max-height .3s ease-in-out;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
  }
  .text {
    width: 50%;
    padding: 20px;
  }
}
.transparent {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
  height: 200px;
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.button {
  padding: 30px 50px;
}