@import './variables';

.nav {
    color: $white;

    @media(min-width: $tablet) {
        display: flex;
        justify-content: space-between;
    }
    .search {
        display: flex;
        height: 40px;
        background-color: $dark-gray-bg;
        border-radius: 3px;
        overflow: hidden;
        @media(min-width: $desktop) {
            width: 30%;
        }
    }
    .search__wrapper {
        flex-grow: 1;
        .btn {
            color: $light-gray;
        }
    }
    .search__input {
        flex-grow: 1;
        display: block;
        padding: 5px 10px;
        border-radius: 2px;
        color: $light-gray;
        border: none;
        background-color: $dark-gray-bg;
    }
}

.ul {
    display: flex;
    padding-left: 0;
}

.li {
    list-style: none;
    background-color: $light-gray-bg;
    border-radius: 3px;
    margin-right: 10px;
    padding: 0 10px;
    cursor: pointer;

    .btn-link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__degree, &__refresh {
        height: 30px;
        width: 30px;
    }
    &__degree--active {
        background-color: $dark-gray-bg;
    }
    &__lang--value {
        margin-right: 5px;
    }
}
.select__lang {
    display: block;
    background-color: transparent;
    height: 100%;
    color: $white;
    &--option {
        display: block;
        cursor: pointer;
    }
}

.frame-lines .frame-title {
    position: relative;
    line-height: 1;
    margin-top: 2em;
    margin-bottom: 1.2em;
    font-weight: 100;
    font-size: 2.5rem;
}
.frame-lines span {
    display: inline-block;
}
.frame-lines span {
    display: inline-block;
}

.frame-lines .frame-line--fullLeft {
    left: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
}

.frame-lines .frame-line::before, .frame-lines .frame-line::after {
    background-color: #000;
    content: '';
    height: 1px;
    display: inline-block;
    position: absolute;
    transform-origin: bottom left;
}

.frame-lines .frame-line--fullLeft::before {
    top: -3px;
    left: 11px;
    transform: rotate(-63deg);
    width: 75px;
}

.frame-lines .frame-line--fullLeft::after {
    bottom: -2px;
    left: -11px;
    transform: rotate(117deg);
    width: 50px;
}